@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'InfinitySans-RegularA1';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/InfinitySans-RegularA1.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'NanumBarunGothic';
    font-style: normal;
    font-weight: 400;
    src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot');
    src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot?#iefix') format('embedded-opentype'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.woff') format('woff'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.ttf') format('truetype');
   }
   
   @font-face {
    font-family: 'NanumBarunGothic';
    font-style: normal;
    font-weight: 700;
    src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.eot');
    src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.eot?#iefix') format('embedded-opentype'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.woff') format('woff'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.ttf') format('truetype')
   }
   
   @font-face {
    font-family: 'NanumBarunGothic';
    font-style: normal;
    font-weight: 300;
    src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.eot');
    src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.eot?#iefix') format('embedded-opentype'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.woff') format('woff'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.ttf') format('truetype');
   }
   
   .nanumbarungothic * {
    font-family: 'NanumBarunGothic', sans-serif;
   }


* {
    box-sizing: border-box;
}

body {
    margin: 0 auto;
    width: 100%;
    height: 100%;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #000;
}
.inner {
    width: 64vw;
    height: auto;
    margin: 0 auto;
}

.banner-container {
    height: 5vh;
    background-color: blue;
}

#slide {
    background-color: bisque;
    height: 30vh;
}

.weather-container {
    height: 30vh;
    background-color: darkblue;
    margin-top: 3rem;
}

.arrow-container {
    display: flex;

}

.list-container {
    width: 100%;
    margin-top: 3rem;
    height: 50vh;
    position: relative;
}


.prev, .next {
    position: absolute;
    font-size: 4rem;
    bottom: 13rem;
    color: rgb(255, 255, 255);
    cursor: pointer;
}
.prev {left: 1rem;}
.next {right:1rem;}

.list-title {
    font-family: 'InfinitySans-RegularA1';
    font-weight: bold;
    font-size: 1.7rem;
}

.lookbook-name {
    margin: 1rem 0;   
    font-family: 'NanumBarunGothic'; 
    font-weight: 700;
    font-size: 1.2rem;
    
}

.lookbook-desc {
    font-family: 'NanumBarunGothic'; 
    font-weight: 400;
    font-size: 0.8rem;
    color: rgb(161, 161, 161)
}

.list-content {
    width: 100%;
    height: 100%;
    display: flex;
    list-style: none;
    padding: 1rem 0;
    margin: 0;
    overflow: hidden;
    justify-content: space-between;
}

.list-card {
    width: 220px;
}

.clothes-img {
    max-width: 220px;
    margin: 0;
}
